/* Fuentes */
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

/* Inicio de los estilos para desktop */
.aboutAndPhoto{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

.personal-photo{
    width: 40vh;
    height: 50vh;
    object-fit: cover;
    border: solid thin white;
}

.about-content{
    background-color: #272727;
    padding: 2vh;
    width: 70vw;
    border: solid thin white;
}

.about-content p{
    margin-top: 0;
    color: white;
}