/* Fuentes */
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){
    .back-img{
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 60vh;
        object-fit: cover;
        object-position: -12vh center;
        border-bottom: solid 2vh black;
    }

    .fullName{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2vh 0 0 2vh;
        width: fit-content;

    }
    
    /*LAUTARO*/
    .name{
        color: white;
        font-family: "MajorMono";
        font-size: 5vh;
        margin: 0;
    }
    /*NUÑEZ*/
    .surname{
        color:white;
        font-family: "MajorMono";
        font-size: 7vh;
        margin: 0;
    }
}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){
    .back-img{
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    .fullName{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2vh 0 0 2vh;
        width: fit-content;
    }
    
    /*LAUTARO*/
    .name{
        color: white;
        font-family: "MajorMono";
        font-size: 10vh;
        margin: 0;
    }
    /*NUÑEZ*/
    .surname{
        color:white;
        font-family: "MajorMono";
        font-size: 14vh;
        margin: 0;
    }
   
}