/*ANIMACIONES*/
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

/*FUENTES*/
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){
    .navBarContent{
        background-color: rgb(25, 25, 25);
        height: 8vh;
        border-bottom: solid thin white;
    }
    .houseBtn{
        height: 5vh;
        width: 5vh;
        margin: 1.5vh;
    }
}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){
    .navBarContent{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(25, 25, 25);
        height: 8vh;
        border-bottom: solid thin white;
    }
    .houseBtn{
        height: 5vh;
        width: 5vh;
        margin: 1.5vh;
    }
    .navBarmenu{
        display: flex;
        flex-direction: row;
    }
    .menuBtn{
        background-color: rgb(25, 25, 25);
        color: white;
        font-family: "MajorMono";
        height: 100%;
        width: 12vw;
        font-size: 1.5vw;
        border-left: solid white;
        border-top: solid rgb(25, 25, 25);
        cursor: pointer;
    }
    .lenguageBtn{
        border-left: solid white;
        height: 5vh;
        width: 5vh;
        padding: 1.5vh;
    }

    .lengMenu{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        top: 8.5vh;
        opacity: 0;
        animation: aparecer 0.5s ease forwards;
    }
}