/*ANIMACIONES*/
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

/*FUENTES*/
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

@font-face {
    font-family: "Ageo-regular";
    src: url('../fonts/AgeoTrial-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){
    .plasticoContent{
        background-color: rgb(30, 0, 0);
        width: 100vw;
        height: 85%;
        opacity: 0;
        animation: aparecer 0.5s ease forwards;
    }
    .plasticoTitle{
        color:white;
        margin: 0;
        font-family: "Ageo-regular";
        padding: 2vh 0 1vh 2vh;
    }
    .plasticoSeparator{
        background-color: #CA2E28;
        height: 2vh;
        border: none;
        margin: none;
    }

    .plasticoBodyCont{
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(30, 0, 0);
    }
    .plasticoFrame{
        height:100vh;
        border: solid 1vh black;
    }
    .plasticoBody{
        width: 100%;
        background-color: rgb(30, 0, 0);
    }
    .plasticoSubtitle{
        margin: 0;
        color: white;
        font-family: "Ageo-regular";
        text-align: center;
        background-color: black;
        padding: 1vh 0;
        width: 100%;
    }
    .plasticoText{
        margin: 0;
        background-color: white;
        padding: 2vh 5vh;
        font-family: "Ageo-regular";
        font-size: 2.5vh;
    }
    .plasticoLink{
        display: block;
        background-color: white;
        padding: 2vh 5vh 2vh 5vh;
        font-family: "Ageo-regular";
        font-size: 2.5vh;
        color: black;
        bottom: -10px;
    }
}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){
    .plasticoContent{
        background-color: rgb(30, 0, 0);
        width: 87vw;
        height: 85%;
        opacity: 0;
        animation: aparecer 0.5s ease forwards;
    }
    .plasticoTitle{
        color:white;
        margin: 0;
        font-family: "Ageo-regular";
        padding: 2vh 0 1vh 2vh;
    }
    .plasticoSeparator{
        background-color: #CA2E28;
        height: 2vh;
        border: none;
        margin: none;
    }

    .plasticoBodyCont{
        display: flex;
        flex-direction: row;
        background-color: rgb(30, 0, 0);
    }
    .plasticoFrame{
        height:66vh;
        border: solid 1vh black;
    }
    .plasticoBody{
        width: 100%;
        background-color: rgb(30, 0, 0);
    }
    .plasticoSubtitle{
        margin: 0;
        color: white;
        font-family: "Ageo-regular";
        text-align: center;
        background-color: black;
        padding: 1vh 0;
        width: 100%;
    }
    .plasticoText{
        margin: 0;
        background-color: white;
        padding: 2vh 5vh;
        font-family: "Ageo-regular";
        font-size: 2.5vh;
    }
    .plasticoLink{
        display: block;
        background-color: white;
        padding: 2vh 5vh 2vh 5vh;
        font-family: "Ageo-regular";
        font-size: 1.3vw;
        text-decoration: none;
        color: black;
        bottom: -10px;
    }
}