/*ANIMACIONES*/
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*FUENTES*/
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){

}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){
    html{
      background-color: rgb(25,25,25);
    }
    .proyect-body{
        background-color: rgb(25,25,25);
        height: fit-content;
        margin-top:1vh;
        width: fit-content;
        min-width: 100%;
    }
    .proyect-title{
        margin: 0; 
        color: white;
        padding: 2vh 0 0 2vh;
        font-family: "MajorMono";
        opacity: 0;
        animation: aparecer 1s ease forwards;
    }
    .top-separator{
        height: 2vh;
        background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHY5c3NtOG1qaTVnZnF3Zmk5b3dpbnQ3OWU0ZG1rZ2JiMXBjOXF1aiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rcFs59ww1R7yeFszmo/giphy.gif);
        background-size:auto;
        color: transparent;
        border: none;
        margin: 1vh 0 0 0;
        opacity: 0;
        animation: aparecer 2s ease forwards;
    }
    
    .structure{
      display: flex;
      flex-direction: row;
      opacity: 0;
      animation: aparecer 2s ease forwards;
    }
    .logo-bar{
      display: flex;
      flex-direction: column;
    }

    .proyect-logo{
      width: 10vw;
      height: 10vw;
      object-fit:cover;
      margin: 1vh;
    }
    .proyect-logo:hover{
      background-color: rgb(50,50,50);
      cursor:pointer;
    }

    .vert-separator{
      width: 1vh;
      height: 100vh;
      background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHY5c3NtOG1qaTVnZnF3Zmk5b3dpbnQ3OWU0ZG1rZ2JiMXBjOXF1aiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rcFs59ww1R7yeFszmo/giphy.gif);
      background-size:auto;
      color: transparent;
      border: none;
      margin: 0;
    }

    .clickIt{
      width: 20vw;
      height: 20vw;
      padding: 2vh;

    }
}