/*ANIMACIONES*/
@keyframes aparecer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/*FUENTES*/
@font-face {
    font-family: "MajorMono";
    src: url('../fonts/MajorMonoDisplay-Regular.ttf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}

@font-face {
  font-family: "Infinity";
  src: url('../fonts/MADEINFINITYPersonalUse-Light.otf'); /* Ruta a tu archivo de fuente, puede ser .ttf, .otf, etc. */
}


/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){

    .header{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-right: 2vw;
    }

    .time-line{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 22vh;
        left: 0;
        background-color: black;
        border-bottom: solid 3px rgb(100,100,100);
        border-top: solid 3px rgb(100,100,100);
        justify-content: space-evenly;
        padding-left: 2vw;
        opacity: 0;
        animation: aparecer 2s ease forwards;
    }
    .time-line h2{
        color:white;
        font-family: 'MajorMono';
        width: 25vw;
        padding: 2vh 1vw;
        margin: 0;
        font-size: 1.5vw;
        transition: all 250ms ease;
    }
    
    .works-up{
      display: flex;
      flex-direction: column;
      margin: 5vh 0 0 2vw;
      opacity: 0;
      animation: aparecer 2s ease forwards;
    }

    .workCard{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      margin-left: 30vw;
      margin-bottom: 4vh;
      width: 60vw;
      height: 30vh;
      border-radius: 15px;
    }
    .workCardContent{
      display: flex;
      flex-direction: column;
    }
    .workTitle{
      font-family: "MajorMono";
      margin: 2vh 0 0 1vw;
      font-size: 16px;
    }
    .workBody{
      font-family: "Infinity";
      font-size: 14px;
      margin: 2vh 1vw;
    }


    /*hovers and logos:*/
    /*JALA: */
    .workCardJALAhovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #359dff;
      border-top: solid 2vh #359dff;
    } 
    .workLogoJALA{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #359dff;
    }
    .JALAhovered{
      background-color: rgb(0, 14, 60);
      border-left: solid #359dff;
      border-right: solid #359dff; 
    }

    /*Plástico v.2.0.0:*/
    .workCardPV2hovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #CA2E28;
      border-top: solid 2vh #CA2E28;
    }
    .workLogoPV2{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #CA2E28;
    }
    .PV2hovered{
     background-color: rgb(60, 0, 0);
      border-left: solid #CA2E28;
      border-right: solid #CA2E28; 
    }

    /*Coding Giants:*/
    .workCardCGhovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #e68200;
      border-top: solid 2vh #e68200;
    }
    .workLogoCG{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #e68200;
    }
    
    .CGhovered{
      background-color: rgb(60, 36, 0);
      border-left: solid #e68200;
      border-right: solid #e68200;
    }

    /*Expresia:*/
    .workCardEXPhovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #6802a3;
      border-top: solid 2vh #6802a3;
    }
    .workLogoEXP{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #6802a3;
    }
    .EXPhovered{
      background-color: rgb(33, 0, 60);
      border-left: solid #9200e6;
      border-right: solid #9200e6;
    }

    /*Coder House*/
    .workLogoCH{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #d6ee00;
    }
    .workCardCHhovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #d6ee00;
      border-top: solid 2vh #d6ee00;
    }
    .CHhovered{
      background-color: rgb(51, 60, 0);
      border-left: solid #d6ee00;
      border-right: solid #d6ee00;
    }

    /*Digital House*/
    .workLogoDH{
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #ee0063;
    }
    .workCardDHhovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #ee0063;
      border-top: solid 2vh #ee0063;
    }
    .DHhovered{
      background-color: rgb(60, 0, 30);
      border-left: solid #ee0063;
      border-right: solid #ee0063;
    }

    /*Plástico V.1.0.0:*/
    .workLogoPV1{
      width: 40vh;
      height: 30vh;
      object-fit: cover;
      background-color: black;
      border-right: solid 1vw #CA2E28;
    }
    .workCardPV1hovered{
      display: flex;
      flex-direction: row;
      background-color: lightgray;
      width: 60vw;
      margin-left: 30vw;
      margin-bottom: 4vh;
      border-radius: 15px;
      transition: all 250ms ease;
      border-bottom: solid 2vh #CA2E28;
      border-top: solid 2vh #CA2E28;
    }
    .PV1hovered{
      background-color: rgb(60, 0, 0);
      border-left: solid #CA2E28;
      border-right: solid #CA2E28; 
    }

      /*Henry:*/
      .workLogoHenry{
        width: 40vh;
        height: 30vh;
        object-fit: cover;
        background-color: black;
        border-right: solid 1vw #000000;
      }
      .workCardHenryhovered{
        display: flex;
        flex-direction: row;
        background-color: lightgray;
        width: 60vw;
        margin-left: 30vw;
        margin-bottom: 4vh;
        border-radius: 15px;
        transition: all 250ms ease;
        border-bottom: solid 2vh #fffb00;
        border-top: solid 2vh #fffb00;
      }
      .Henryhovered{
        background-color: rgb(60, 54, 0);
        border-left: solid #fffb00;
        border-right: solid #fffb00; 
      }

       /*IGA:*/
       .workLogoIGA{
        width: 40vh;
        height: 30vh;
        object-fit: cover;
        background-color: black;
        border-right: solid 1vw #1d3fff;
      }
      .workCardIGAhovered{
        display: flex;
        flex-direction: row;
        background-color: lightgray;
        width: 60vw;
        margin-left: 30vw;
        margin-bottom: 4vh;
        border-radius: 15px;
        transition: all 250ms ease;
        border-bottom: solid 2vh #1d3fff;
        border-top: solid 2vh #1d3fff;
      }
      .IGAhovered{
        background-color: rgb(9, 0, 60);
        border-left: solid #1d3fff;
        border-right: solid #1d3fff; 
      }

      /*UNC:*/
      .workLogoUNC{
        width: 40vh;
        height: 30vh;
        object-fit: cover;
        background-color: black;
        border-right: solid 1vw #1d92ff;
      }
      .workCardUNChovered{
        display: flex;
        flex-direction: row;
        background-color: lightgray;
        width: 60vw;
        margin-left: 30vw;
        margin-bottom: 4vh;
        border-radius: 15px;
        transition: all 250ms ease;
        border-bottom: solid 2vh #1d92ff;
        border-top: solid 2vh #1d92ff;
      }
      .UNChovered{
        background-color: rgb(0, 41, 60);
        border-left: solid #1d92ff;
        border-right: solid #1d92ff; 
      }
}


/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){
  .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 2vw;
  }

  .time-line{
      display: none;
  }
  
  .works-up{
    display: flex;
    flex-direction: column;
    margin: 5vh 0 0 0;
    opacity: 0;
    animation: aparecer 2s ease forwards;
  }

  .workCard{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-bottom: 4vh;
    width: 100vw;
    height: fit-content;
    border-radius: 15px;
  }
  .workCardContent{
    display: flex;
    flex-direction: column;
  }
  .workTitle{
    font-family: "MajorMono";
    margin: 1vh 0 0 28vw;
    font-size: 20px;
    min-height: 8vh;

  }
  .workBody{
    font-family: "Infinity";
    font-size: 16px;
    margin: 3vh 3vw;
  }


  /*hovers and logos:*/
  /*JALA: */
  .workLogoJALA{
    width: 12vh;
    height: 12vh;
    position: absolute;
    background-color: black;
    border-right: solid 1vw #359dff;
  }
 
  /*Plástico v.2.0.0:*/
  .workLogoPV2{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #CA2E28;
  }
 
  /*Coding Giants:*/
  .workLogoCG{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #e68200;
  }

  /*Expresia:*/
  .workLogoEXP{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #6802a3;
  }

  /*Coder House*/
  .workLogoCH{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #d6ee00;
  }

  /*Digital House*/
  .workLogoDH{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #ee0063;
  }

  /*Plástico V.1.0.0:*/
  .workLogoPV1{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #CA2E28;
  }

  /*Henry:*/
  .workLogoHenry{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #000000;
  }

  /*IGA:*/
  .workLogoIGA{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #1d3fff;
  }

  /*UNC:*/
  .workLogoUNC{
    width: 12vh;
    height: 12vh;
    position: absolute;
    object-fit: cover;
    background-color: black;
    border-right: solid 1vw #1d92ff;
  }
}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
